@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/@xterm/xterm/css/xterm.css";
@import "../node_modules/fontawesome-free/css/regular.css";

/* This file is for your main application CSS */

@font-face {
  font-family: "MuseoModerno";
  src: url("/fonts/MuseoModerno-VariableFont_wght.ttf");
}

.logo {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}