<.header>
  File <%= @file.name %>
  <:subtitle>This is a file record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/files/#{@file.name}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit file</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @file.name %></:item>
</.list>

<.back navigate={~p"/files"}>Back to files</.back>
